@import "tailwindcss";


*{
  scroll-behavior: smooth;

}

html, body {
  overflow-x: hidden;
}




/* ============================= */
/* 📜 Scroll Snap Configuration */
/* ============================= */
html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  scroll-padding-top: 90px;
}

/* Optimisation pour mobile */
@media (max-width: 768px) {
  html {
    scroll-snap-type: y mandatory;
  }
}




:root {
  --foreground: #171717;
  direction: rtl;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-white: #fff;
  --color-blue: #1b2340;
  --color-beige: #d7b499;
  --font-handicrafts: var(--font-handicrafts);
  --font-tajwal: var(--font-tajwal);
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
  }
}
body {
  font-family: var(--font-handicrafts);

}

.font-tajwal{
  font-family: var(--font-tajwal);

}


.gap{
  gap: 3rem;
}


.overlay1{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(10, 15, 40, 0.55) 0%, rgba(15, 25, 60, 0.7) 100%);
  z-index: 1;
}

.tmp{
  filter: hue-rotate(-25deg);

}

.cover{
  object-fit: fill;
  object-position: center;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: contain;
}


.gradient1{
  width: 250px;
  height: 250px;
  position: absolute;
  right: 5%;
  top: 15%;
  background: linear-gradient(#d7b499 , #e8a470);
  filter: blur(200px);
}

.gradient2{
  width: 250px;
  height: 250px;
  position: absolute;
  left: 5%;
  bottom: 15%;
  background: linear-gradient(#d7b499 , #e8a470);
  filter: blur(200px);
}